opencv-python>=4.9.0.80
diffusers==0.31.0
transformers>=4.49.0
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio
imageio-ffmpeg
easydict
ftfy
numpy==1.24.4
omegaconf
einops
av==13.1.0
matplotlib
scikit-image
sentencepiece
huggingface_hub[cli]
regex
pandas
